:root {
    --green: #116062;
    --blue: #274b69;
    --yellow: #f6f0b7;
    --accent-color: #ff7f50;
}

html,
body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 28px;
    line-height: 36px;
    font: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 2rem;
}

* {
    box-sizing: border-box;
}

.title-bg {
    background-color: var(--blue);
    color: var(--yellow);
    padding: 3px 10px;
    font-size: 1.5rem;
    border-radius: 3px;
}

/* .title-projects {
    text-decoration: underline;
} */

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: white;
}

.avatar {
    background-color: var(--blue);
    height: 100%;
    min-width: 390px;
    margin: 0;
    padding: 30px 67px;
}

.oval-photo {
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 9px #666;
}

.nav-list {
    margin-left: 3rem;
    display: flex;
    list-style: none;
    position: relative;
    right: 10%;
    cursor: pointer;
    font-size: .8rem;
}

.nav-link {
    padding: 0 7px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
}

.nav-item a {
    color: var(--green);
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.5s;
    cursor: pointer;
}

.nav-item a:hover {
    color: var(--blue);
}

.section-item a {
    color: var(--yellow);
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: var(--accent-color);
}

.main-container {
    color: var(--green);
    top: 0;
}

h1 {
    font-size: 60px;
    color: var(--blue);
    display: flex;
    justify-content: center;
    margin-right: 0;
    top: 100px;
    letter-spacing: .1rem;
    border-radius: 7px;
    line-height: 70px;
}

h2 {
    padding-left: 20px;
    font-size: 30px;
    letter-spacing: .2rem;
}

pre {
    left: 0;
    padding: 30px 80px 30px 0;
    font-size: 20px;
    background-color: var(--blue);
    color: var(--yellow);
    width: 100%;
    margin-bottom: 0;
}

.section {
    padding: 20px 30px;
    width: 100%;
}



.projects-wrapper {

    /* background-color: var(--blue); */
    /* color: var(--yellow); */
    list-style-type: none;
    padding: 1rem 4rem ;
    /* text-decoration: none; */

}


.cv {

    font-size: 1.2rem;
    /* display: inline; */
    /* width: 100px; */
    margin: 0;
    cursor: pointer;
    transition: 1s;

}

.cv a {
    color: var(--blue);
    /* color: var(--yellow); */
    text-decoration: none;
    /* background-color: var(--blue); */
    border-radius: 7%;
    cursor: pointer;

}

/* .cv a:active {
    color: var(--accent-color);
    background-color: var(--green);
} */

.cv a:hover {
    color: var(--green);
    margin-left: 2px;
    transition: 1s;

}

/* .border-cv {
    border: 2px solid var(--blue);
    padding: 5px;
    margin-left: 20px;
    font-size: 30px;
} */

.blue-text {
    color: var(--blue);
    font-size: 1.1em;
    margin-left: 1rem;
}

.about{
    margin-bottom: -1rem;
}

.soft-skills {
    /* display: flex; */
    list-style-type: none;
    gap: .5rem;
    margin-left: -1rem;
}

.skills-text {
    font-size: 1.2em;
}

.p-edecation {
    margin-top: -1rem;
}

.education {
    margin-left: 1.5rem;
}

.section-title-courses {
    margin-left: -2rem;
    margin-bottom: 1rem;
}

.li-courses {
    margin-bottom: 2rem;
}

.color-courses {
    margin-left: -2.1rem;
    font-size: 1.1rem;
}

.certificate {
    color: var(--yellow);
    position: absolute;
    margin-top: -1.8rem;
    font-size: 1rem;
    transition: color 0.5s;
    cursor: pointer;
}

.certificate:hover {
    color: var(--accent-color);
    margin-left: 2px;

}

.blue-link {
    color: var(--blue);
}

.blue-link:hover {
    color: var(--green);
}

.aside-container {
    padding-top: 130px;
    flex-grow: 1;
    min-width: 390px;
    color: var(--yellow);
    background-color: var(--blue);
}

.contact-item {
    list-style-type: none;
    margin-left: -1rem;
}

.mail {
    margin-bottom: -7px;
}

.me-github {
    margin-left: 1rem;
    margin-bottom: -.3rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 24px;
    top: 0;
}

.copyright a {
    color: var(--yellow);
    text-decoration: none;
    transition: color 0.5s;
    background-color: var(--blue);
}

.copyright a:hover {
    color: var(--accent-color);
}

.copyright {
    margin: 0;
    width: 350px;
    min-width: 390px;
    position: relative;
    background-color: var(--blue);
    color: var(--yellow);
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.github {
    margin-right: 20px;
    align-items: center;
}

.rss {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 200px;
    padding-bottom: 10px;
    margin-right: 70px;
}

.skills-text li {
    display: inline;
}
