html,
body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 28px;
    line-height: 36px;
    font: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 2rem;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
}


.header-container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color:white;
    }

.avatar{
    background-color: #274b69;
    height: 100%;
    min-width: 350px;
    margin:  0;
    padding: 30px 50px;

}

.oval-photo{
    position: relative;
    /* position: absolute; */
    border-radius: 50%;
    box-shadow: 0 0 9px #666;
}

/*  N A V */
.nav-list {
    margin-left: 3rem;
    display: flex;
    /* justify-content: flex-end; */
    list-style: none;
    position: relative;
    /* min-width: 500px; */
    right: 10%;
    cursor: pointer;
    font-size: .8rem;
    }

.nav-link{
    padding: 0 7px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
    }

.nav-item a {
    color:#116062;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.5s;
    cursor: pointer;
    }

.nav-item a:hover{
  color: #274b69;
    }

.section-item a {
    color: #f6f0b7;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #ff7f50;
    }

    /* M A I N */
.main-container{
    color: #116062;
    /* min-width: 500px; */
  /* width: 100%; */
    top: 0;
    /* margin-left: 350px; */
    }

h1{
    font-size: 60px;
    color: #274b69;
    display: flex;
    justify-content:center;
    margin-right: 0;
    display: flex;
    top: 100px;
    margin-left: 100px;
    letter-spacing: .1rem;
    border-radius: 7px;
    line-height: 70px;
    }

h2{
    padding-left: 20ox;
    font-size: 30px;
    letter-spacing: .2rem;
}

pre{
    left: 0;
    padding: 30px 80px 30px 0;
    font-size: 20px;
    background-color: #274b69 ;
    color:  #f6f0b7;
    width:100%;
    margin-bottom: 0;
    }

.section {
    padding:20px 30px;
    width: 100%;

    }

.cv{
    display: inline;
    width: 100px;
    margin: 0;
    cursor: pointer;
}

.cv a {
    color:#f6f0b7;
    text-decoration: none;
    transition: color 0.5s;
    background-color: #274b69;
    border-radius: 7%;
    cursor: pointer;
    }
.cv a:active {
    color: #ff7f50;
    background-color:#116062;
    }
    .cv a:hover {
        color: #ff7f50;
        }

.border-cv{
    border: 2px solid #274b69;
    padding: 5px;
    margin-left: 20px;
    font-size: 30px;
}

.blue-text,
.green{
    color: #274b69;
    font-size: 1em;
}

    /*  A S I D E */

.section-title-courses {
    margin-left: -2rem;
    margin-bottom: 1rem;
}

.certificate {
    color:#274b69;
    position: absolute;
    margin-top: -2rem;
    margin-left: 2rem;
    /* font-size: rem; */
    transition: color 0.5s;
    cursor: pointer;
    }


.aside-container {
    padding-top: 130px;
    flex-grow: 1;
    /* float: left; */
    min-width: 350px;
    /* padding-left: 20px; */
    color: #f6f0b7;
    /* height: 200%; Установите высоту равной 100% */
    /* height: inherit; */
    background-color: #274b69;


}

.contact-item{
    list-style-type: none;
    margin-left: -1rem;
    }

.mail{
    margin-bottom: -7px;
}

.me-github {
    margin-left: 1rem;
    margin-bottom: -.3rem;


}



.footer-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 24px;
    top: 0;
    }

.copyright a {
    color: #f6f0cf;
    text-decoration: none;
    transition: color 0.5s;
    background-color:#274b69;
    }

.copyright a:hover {
    color: #ff7f50;
    }

.copyright{
    margin: 0;
    width: 350px;
    min-width: 350px;
    position: relative;
    background-color:#274b69;
    color: #f6f0b7;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    }

.github{
    margin-right: 20px;
    align-items: center;
    }

/* .me-github {
    margin-left: 1rem;

    } */

.rss {
    /* background-image: url(/rs_school_js.svg); */
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 200px;
    padding-bottom:  10px;
    margin-right: 70px;
    }
